@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&family=Josefin+Slab:wght@500&family=Kalam&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kalam", cursive;
}

h2 {
  font-family: "Alegreya Sans SC", sans-serif;
}
